*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container-sidebar{
    display: flex;
    position: relative;
    margin-left: 12%;
    margin-top: 50px;

}

.main-sidebar{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.sidebar{
    background: #3ABCD8;
    color: #fff;
    min-height: 200vh;
    width: 70px;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}



.bars{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: #fff;
    padding: 13px 15px;
    gap: 1px;
    transition: all 0.5s;

   
}

.link:hover{
    background-color: #0000001A;
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
}

.active{
    background: #0000001A;
    color: #fff;
}

.icon, .link_text{
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.logo-nav {
    display: block;
    margin: 5px;
    padding: auto;
    filter: brightness(0) invert(1);
}



