*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container-sidebar{
    display: flex;
}

.main-sidebar{
    width: 100%;
    padding: 20px;
    margin-left: 270px;
}

.sidebar2{
    background: #3ABCD8;
    color: #fff;
    min-height: 200vh;
    width: 270px;
    position: fixed;
    top: 0;
}

.top_section{
    display: block;
    align-items: center;
    padding: 8px 15px;
}



.bars{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

.link2{
    display: flex;
    color: #fff;
    padding: 13px 15px;
    gap: 1px;
    transition: all 0.5s;
    text-decoration: none;

   
}

.link2:hover{
    background-color: #0000001A;
    color: #fff;
    transition: all 0.5s;
    text-decoration: none;
}

.active{
    background: #0000001A;
    color: #fff;
}

.icon, .link_text{
    margin-left: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

.logo-nav {
    display: block;
    margin-left: 45px;
    filter: brightness(0) invert(1);
    padding: auto;
    align-items: center;
    justify-content: center;
}




