.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination li {
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    border: 0.5px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1);
    
    
  }
  
  .pagination .active {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination .previous,
  .pagination .next {
    font-weight: bold;
  }
  
  .pagination .disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  