.btn-google {
  background-color: rgba(219, 222, 224, 0.7);
}

.btn-google:hover {
  background-color: rgba(219, 222, 224, 1);
}

footer {
  display: none;
}

@media (min-width: 768px) {
  footer {
    display: inherit;
  }
}
