
.sidebar * {
    color: white !important;
}

.sidebar-logo {
    display: none;
    margin: 5px;
    filter: brightness(0) invert(1);
}

.sidebar-header {
    justify-content: between;
}

@media (max-width: 992px) {
    .navbar-brand {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .sidebar {
        left: 0;
        width: 18%;
        visibility: visible;
    }

    .sidebar-header {
        height: 65px;
        justify-content: center;
    }

    .sidebar-logo {
        display: block;
    }

    nav, main {
        margin-left: 0;
    }
}