.list-courses .course-item {
  flex: none;
  width: 75%;
  padding-right: 15px;
}

.list-courses {
  padding-left: 0px;
  padding-right: 0px;
}

.list-courses [class^="col-"] {
  padding-left: 0px;
  padding-right: 16px;
}

.list-courses a {
  font-size: 12px;
  padding: 5px 10px;
}

@media (min-width: 768px) {
  .list-courses .course-item {
    flex: none;
    width: 22%;
    padding-right: 15px;
  }

}