
.statistic-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    align-items: stretch;
}

.statistic-col {
    flex: none;
    padding: 5px;
}

.statistic-col.card {
    border-left: 5px solid #3abcd8 !important; 
}

.statistic-item {
    display: flex;
    align-items: center;
}

.statistic-item div {
    margin-left: 5px;
}

.statistic-item h4 {
    margin: 0;
}

.statistic-item i {
    font-size: 2.5em;
}

.statistic-item span {
    font-size: 12px;
}

.session-item {
    display: flex;
    align-items: center;
}

.session-item-detail {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.session-item-options a:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
    .session-description {
        display: none;
    }
}

@media (min-width: 992px) {
    .statistic-row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .session-item-detail {
        display: grid;
        width: 80%;
        grid-template-columns: 60% 20% 20%;
        align-items: center;
        justify-items: start;
    }
}