#section-hero img {
  width: 75%;
}

#section-hero .hero-header,
#section-hero .hero-description {
  text-align: center;
  margin-top: 30px;
}

#section-hero .hero-header {
  font-size: 1.5em;
  margin-top: 40px;
}

#section-hero .hero-description {
  font-size: 0.9em;
}

#section-services,
#section-partner-courses,
#section-categories {
  background-color: #3abcd8;
}

#section-services p {
  font-size: 14px;
}

.section-header {
  text-align: center;
}
.section-header-btn {
  display: none;
}

.section-description {
  font-size: 0.8em;
}

#list-categories {
  padding-left: 8px;
  padding-right: 8px;
}

#list-categories .col-lg-3,
#list-categories .col-6 {
  padding-left: 8px;
  padding-right: 8px;
}

#list-categories a {
  text-decoration: none;
  color: black;
}

.category-items {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
}

.category-items:hover {
  background-color: #efefef;
}

footer {
  display: block;
}

/* @media (max-width: 992px) {
  #section-hero .input-group {
    display: none;
  }
} */

@media (min-width: 768px) {
  #section-hero img {
    margin-top: 40px;
  }

  #section-hero .hero-header,
  #section-hero .hero-description {
    text-align: left;
  }

  #section-hero .hero-header {
    font-size: 1.5em;
  }

  .section-header {
    text-align: left;
    padding-top: 0.5rem;
  }

  .section-header-btn {
    display: inherit;
  }

  #section-partner-courses .section-header-btn:hover {
    color: #3abcd8 !important;
  }
}
