body {
    background-color: gray;
  }
  
  nav a {
    color: black;
  }
  
  nav a i {
    font-size: 1.4em;
  }
  
  nav form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0;
  }
  
  .navbar-toggler {
    padding: 0;
    border: 0;
  }
  
  .navbar-collapse ul li {
    margin: 5px 0;
  }
  
  .btn-navbar {
    margin-left: 15px;
  }
  
  nav .input-group,
  nav .input-group input {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    font-size: 14px;
  }
  
  nav .input-group-text {
    padding: 0 0 0 10px !important;
  }
  
  .navbar-nav {
    align-items: center;
  }
  
  nav .nav-link {
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .nav-link-account {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .account-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .sidebar {
    position:fixed;
    top:0;
    bottom:0;
    left:-75%;
    width: 75%;
    background-color: white;
    visibility: hidden;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.05);
    transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  
  .sidebar.show {
    visibility: visible;
    transform: translateX(100%);
  }
  
  .sidebar-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.05);
  }
  
  .sidebar-header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sidebar-title {
    font-size: 14px;
  }
  
  .sidebar-subtitle {
    font-size: 12px !important;
  }
  
  .sidebar-menu {
    margin-top: 20px;
    height: 85%;
    overflow-y: scroll;
  }
  
  .sidebar-link, .side-tab-link {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    margin: 3px 5px;
    border-radius: 5px;
    color: #000 !important;
  }
  
  .sidebar-link:hover,
  .sidebar-link:focus,
  .side-tab-link:hover,
  .side-tab-link:focus {
    text-decoration: none;
  
  }
  
  .sidebar-link:hover,
  .side-tab-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-link.active, 
  .side-tab-link.active {
    background-color: #81e2f8;
  }
  
  .sidebar-link i,
  .side-tab-link i {
    margin: 0 12px;
  }
  
  .sidebar-link.dropdown > i.caret{
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
  }
  
  .sidebar-link.dropdown[aria-expanded='true'] > i.caret {
    transform: rotate(90deg);
  }
  
  .sidebar-menu-divider {
    padding-left: 25px;
    color: #a9a9a5;
    font-size: 12px;
  }
  
  main {
    padding-top: 65px;
  }
  
  .side-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
  
  .side-menu-top,
  .side-menu-lists {
    display: flex;
    flex-direction: column;
  }
  
  .side-menu-top {
    align-items: center;
  }
  
  .side-menu-top img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  
  /* custom select2 */
  span.select2-selection.select2-selection--single,
  span.select2-selection.select2-selection--multiple{
    border: 0px !important;
    box-shadow: 1px 4px 20px rgba(0,0,0,0.05);
    font-size: 13px !important;
  }
  
  li.select2-selection__choice {
    font-size: 13px !important;
    background-color: #3abcd8 !important;
    border-radius: 50px !important;
    color: white;
    border: 0px !important;
  }
  
  li.select2-selection__choice span {
    color: white !important;
  }
  
  .badge ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  /* summernote */
  .summernote-div {
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.05);
  }
  
  footer {
    background-color: #3c3b37;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
  }
  
  footer button:hover{
    color: #035956;
  }
  
  footer img.logo {
    width: 60%;
  }
  
  footer h6 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li a {
    color: white;
  }
  
  footer ul li a:hover {
    text-decoration: none;
  }
  
  footer ul li button {
    border: none;
    padding: 0;
    background: none;
    color: white;
  }
  
  footer img.another-logo {
    filter: grayscale(100%);
  }
  
  footer img.another-logo:hover {
    filter: grayscale(0%);
  }
  
  footer p {
    padding-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #ddd;
  }
  
  @media (min-width: 992px) {
      
    /* SCROLLBAR */
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #a9a9a5; 
      border-radius: 10px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #3abcd8;
    }
    /* end:SCROLLBAR */
  }
  
  @media (max-width: 992px) {
    nav form {
      display: none;
    }
  
    nav form.show {
      display: inherit;
      width: 100%;
    }
    .navbar-collapse {
      position: fixed;
      left: 0;
      bottom: -120px;
      width: 100%;
      overflow-y: auto;
      background-color: white;
      box-shadow: -4px -1px 20px rgba(0, 0, 0, 0.05);
      transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      padding-left: 5%;
      padding-right: 5%;
    }
    .navbar-collapse.show {
      transform: translateY(-115px);
    }
    .navbar-nav {
      flex-direction: row;
      justify-content: space-between;
    }
  
    nav .nav-item {
      margin: 0;
      width: 100%;
    }
  
    nav .nav-link {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
      padding: 0;
    }
  
    nav .nav-link.active > * {
      color: #3abcd8;
    }
  
    nav .nav-link i {
      font-size: 24px;
    }
  
    nav .nav-link span {
      font-size: 10px;
    }
  
    
  
    .nav-link-account .real-name {
      display: none;
    }
  
    
    .nav-item-mentor, 
    .nav-item-account {
      display: none;
    }
  
    .btn-navbar {
      display: block;
      margin: 20px 0;
    }
  
    main {
      margin-bottom: 15px;
    }
  
    .side-menu {
      display:none;
    }
    
    .side-tab-menu {
      display:flex;
    }
  
    .side-tab-link {
      margin-bottom: 15px;
      flex: 1;
      justify-content: center;
    }
  
    .side-tab-link span {
      display: none;
    }
  
    .btn-fab {
      position: fixed;
      z-index: 100;
      bottom: 70px;
      right: 20px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .btn-fab span {
      display:none;
    }
  
    .btn-fab i {
      font-size: 2em;
    }
  
    footer {
      display: none;
    }
  
    footer img.logo {
      width: 30%;
    }
  }

.search-kursus {
  margin-bottom: 8px;
  max-width: 500px;
}

.dropdown-menu {
  font-size: 12px !important;
  text-align: center !important;

}

.dropdown-item:hover{
  background-color: #3ABCD8 !important;
  color: white !important;
}

  
  